.container{
    background-image: url('../Images/Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    /* background-position: right; */
    /* background-size: 90vh; */
    /* height: 100vh; */
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }

.laseLine{
    height: 60px;
    background-color: #F30050;
    /* margin-top: -80px; */

    position: relative;
    z-index: 1;
  }